<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/main.css">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../static/css/blog.css">
  <title>Kattakurgan.UZ</title>
</head>

<body>
  <header>
    <div class="centeru">
      <div class="navbar-1  wrap">
        <div class="menu-1">
          <a href="#">Bosh Sahifa</a>
          <a href="#">Reklama</a>
          <a href="#">Video</a>
          <a href="#">Kontakt</a>
        </div>
        <div class="social-media">
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-telegram"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
        </div>
      </div>
    </div>
    <hr>
    <div class="logo">
      <p>Kattakurgan<span>.</span>UZ</p>
    </div>
    <div class="centeru responsive">
      <div class="navbar-2">
        <div class="menu-1">
          <a href="#">Yangiliklar</a>
          <a href="#">O'zbekiston</a>
          <a href="#">Jahon</a>
          <a href="#">Sport</a>
          <a href="#">IT Dasturlash</a>
          <a href="#">Intervyu</a>
          <a href="#">Savdo Sotiq</a>
        </div>
      </div>
    </div>
    <div class="centeru clone">
      <div class="navbar-2">
        <div class="menu-1">
          <a href="#">Yangiliklar</a>
          <a href="#">O'zbekiston</a>
          <a href="#">Jahon</a>
          <a href="#">Sport</a>
          <a href="#">IT Dasturlash</a>
          <a href="#">Intervyu</a>
          <a href="#">Savdo Sotiq</a>
        </div>
      </div>
    </div>
  </header>
  <!-- <div class="main-posts"> -->
  <div class="centeru">
    <div class="tab-name">
      <div class="svg">
        <div class="on"></div>
      </div>
      <p>So'ngi Yangiliklar</p>
    </div>

  </div>

  <div class="container">
    <div class="main min">
      <main class="main-blog-section">
        <section class="blog section">
          <!-- <div class="container"> -->


          <div class="blog-wrapper">
            <div class="blog-wrap">

              <div class="blog-card">
                <div class="blog-image">
                  <img src="../static/images/main.jpg" alt="" />
                </div>

                <div class="blog-content">
                  <div class="blog-info">
                    <h5 class="blog-date">May, 21 2022</h5>
                    <h5 class="blog-user"><i class="fas fa-user"></i>Jahon</h5>
                  </div>
                  <h3 class="title-sm">Davlat tili to‘g‘risidagi qonunni qayta ko‘rmaslik bo‘yicha qaror qabul qilingan
                  </h3>
                  <a href="#" class="btn small">To'liq Ko'rish</a>
                </div>
              </div>
              <div class="blog-card">
                <div class="blog-image">
                  <img src="../static/images/main.jpg" alt="" />
                </div>

                <div class="blog-content">
                  <div class="blog-info">
                    <h5 class="blog-date">May, 21 2022</h5>
                    <h5 class="blog-user"><i class="fas fa-user"></i>Jahon</h5>
                  </div>
                  <h3 class="title-sm">Bo‘ri, ayiq, kiyiklar va tog‘ qori orasidagi hayot - Kelinchaksoy cho‘ponlari |
                    Manzil</h3>
                  <a href="#" class="btn small">To'liq Ko'rish</a>
                </div>
              </div>
              <div class="blog-card">
                <div class="blog-image">
                  <img src="../static/images/main.jpg" alt="" />
                </div>

                <div class="blog-content">
                  <div class="blog-info">
                    <h5 class="blog-date">May, 21 2022</h5>
                    <h5 class="blog-user"><i class="fas fa-user"></i>Jahon</h5>
                  </div>
                  <h3 class="title-sm">Tadbirkorlarga aslida nima kerak: barcha uchun teng sharoitmi yo individual
                    imtiyozlar?</h3>
                  <a href="#" class="btn small">To'liq Ko'rish</a>
                </div>
              </div>
              <div class="blog-card">
                <div class="blog-image">
                  <img src="../static/images/main.jpg" alt="" />
                </div>

                <div class="blog-content">
                  <div class="blog-info">
                    <h5 class="blog-date">May, 21 2022</h5>
                    <h5 class="blog-user"><i class="fas fa-user"></i>Jahon</h5>
                  </div>
                  <h3 class="title-sm">«Maktablarda mehr-oqibat darslari o‘tilishi kerak» – jonivorlarga qo‘llanayotgan
                    vahshiyliklar haqida</h3>
                  <a href="#" class="btn small">To'liq Ko'rish</a>
                </div>
              </div>

            </div>
          </div>
    </div>
    </section>
    </main>
  </div>
  <div class="centeru">
    <div class="tab-name">
      <div class="svg">
        <div class="on"></div>
      </div>
      <p>Jahon Yangiliklari</p>
    </div>
    <div class="maqola">
      <div class="maqola_item">
        <div class="images">
          <img src="../static/images/main.jpg" alt="">
        </div>
        <div class="maqola_title">
          <p>G‘alla islohoti va bo‘lka non narxining erkinlashtirilishi: asosiy ma’lumotlar</p>
        </div>
        <div class="maqola_desc">
          <p>Expedita adipisci sunt ratione amet enim voluptatibus reiciendis velit voluptas quasi aliquid labore
            doloribus vero dicta, explicabo molestiae tenetur, cum tempora? Consequatur sint mollitia explicabo,
            distinctio reiciendis facilis. Aspernatur dicta, accusamus error cum quidem sunt illum. Minima, molestiae
            iusto aut ipsa expedita dolorum facilis obcaecati at.</p>
        </div>
      </div>
      <div class="maqola_item">
        <div class="images">
          <img src="../static/images/main.jpg" alt="">
        </div>
        <div class="maqola_title">
          <p>G‘alla islohoti va bo‘lka non narxining erkinlashtirilishi: asosiy ma’lumotlar</p>
        </div>
        <div class="maqola_desc">
          <p>Expedita adipisci sunt ratione amet enim voluptatibus reiciendis velit voluptas quasi aliquid labore
            doloribus vero dicta, explicabo molestiae tenetur, cum tempora? Consequatur sint mollitia explicabo,
            distinctio reiciendis facilis. Aspernatur dicta, accusamus error cum quidem sunt illum. Minima, molestiae
            iusto aut ipsa expedita dolorum facilis obcaecati at.</p>
        </div>
      </div>
      <div class="maqola_item">
        <div class="images">
          <img src="../static/images/main.jpg" alt="">
        </div>
        <div class="maqola_title">
          <p>G‘alla islohoti va bo‘lka non narxining erkinlashtirilishi: asosiy ma’lumotlar</p>
        </div>
        <div class="maqola_desc">
          <p>Expedita adipisci sunt ratione amet enim voluptatibus reiciendis velit voluptas quasi aliquid labore
            doloribus vero dicta, explicabo molestiae tenetur, cum tempora? Consequatur sint mollitia explicabo,
            distinctio reiciendis facilis. Aspernatur dicta, accusamus error cum quidem sunt illum. Minima, molestiae
            iusto aut ipsa expedita dolorum facilis obcaecati at.</p>
        </div>
      </div>
      <div class="maqola_item">
        <div class="images">
          <img src="../static/images/main.jpg" alt="">
        </div>
        <div class="maqola_title">
          <p>G‘alla islohoti va bo‘lka non narxining erkinlashtirilishi: asosiy ma’lumotlar</p>
        </div>
        <div class="maqola_desc">
          <p>Expedita adipisci sunt ratione amet enim voluptatibus reiciendis velit voluptas quasi aliquid labore
            doloribus vero dicta, explicabo molestiae tenetur, cum tempora? Consequatur sint mollitia explicabo,
            distinctio reiciendis facilis. Aspernatur dicta, accusamus error cum quidem sunt illum. Minima, molestiae
            iusto aut ipsa expedita dolorum facilis obcaecati at.</p>
        </div>
      </div>
    </div>
  </div>

  <footer style="background-color: #222 ; ">
    <div class="centeru line-for">
      <div class="navbar-1 wrap">
        <div class="menu-1 local">
          <a href="#">Bosh Sahifa</a>
          <a href="#">Reklama</a>
          <a href="#">Video</a>
          <a href="#">Kontakt</a>
        </div>
        <div class="social-media">
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-telegram"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
        </div>
      </div>
    </div>
    <div class="centeru">
      <p class="developers">©️ <a href="https://t.me/Sherozbek_17/" target="_blank">She'rozbek</a> and <a
          href="https://t.me/Isroil2006/" target="_blank">Isroil</a> Developer</p>
    </div>
  </footer>

  <script src="../static/js/main.js"></script>
</body>

</html>