<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Qoidalar.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="Menu">
            <h1>Foydalanish shartlari</h1>
        </div>
        <h2 class="tab_name">
            Umumiy Fikr
        </h2>
        <p class="text">
            Saytimizga tashrif buyurib va/yoki bizdan biror narsa sotib olsangiz, siz bizning "Xizmatimiz" bilan
            shug'ullanasiz va quyidagi shartlar va shartlarga ("Xizmat ko'rsatish shartlari", "Shartlar"), shu jumladan
            ushbu qo'shimcha shartlar va siyosatlarga rozilik bildirasiz. bu yerda havola qilingan va/yoki giperhavola
            orqali mavjud. Ushbu Xizmat shartlari saytning barcha foydalanuvchilariga, shu jumladan brauzerlar,
            sotuvchilar, mijozlar, savdogarlar va/yoki kontentni qo'shuvchilar bo'lgan foydalanuvchilar uchun ham amal
            qiladi. <br><br>

            Iltimos, bizning veb-saytimizga yoki xizmatlarimizga kirishdan yoki foydalanishdan oldin ushbu Xizmat
            shartlarini diqqat bilan o'qing. Saytning istalgan qismiga kirish yoki undan foydalanish orqali siz ushbu
            Xizmat shartlariga rozilik bildirasiz. Agar siz ushbu shartnomaning barcha shartlariga rozi bo'lmasangiz,
            veb-saytga kira olmaysiz yoki biron bir xizmatlardan foydalana olmaysiz. <br> <br>

            Joriy saytga qo'shilgan har qanday yangi xususiyat yoki vositalar ham Xizmat shartlariga bo'ysunadi. Siz
            ushbu sahifada istalgan vaqtda Xizmat shartlarining eng so'nggi versiyasini ko'rib chiqishingiz mumkin. Biz
            veb-saytimizga yangilanishlar va/yoki o'zgartirishlar kiritish orqali ushbu Xizmat shartlarining istalgan
            qismini yangilash, o'zgartirish yoki almashtirish huquqini saqlab qolamiz. O'zgarishlar uchun bu sahifani
            vaqti-vaqti bilan tekshirish sizning mas'uliyatingizdir. Har qanday o'zgarishlar e'lon qilingandan so'ng
            veb-saytdan doimiy foydalanishingiz yoki unga kirishingiz ushbu o'zgarishlarni qabul qilganingizni
            anglatadi.
        </p>
        <h2 class="tab_name">
            Saytdan foydalanish shartlari
        </h2>
        <p class="text">
            By agreeing to these Terms of Service, you represent that you are at least the age of majority in your state
            or province of residence, or that you are the age of majority in your state or province of residence and you
            have given us your consent to allow any of your minor dependents to use this site. <br> <br>

            Siz bizning mahsulotlarimizdan noqonuniy yoki ruxsat etilmagan maqsadlarda foydalana olmaysiz yoki Xizmatdan
            foydalanishda yurisdiksiyangizdagi qonunlarni (shu jumladan mualliflik huquqi to'g'risidagi qonunlarni, shu
            jumladan, lekin ular bilan cheklanmagan holda) buzishingiz mumkin emas. Sizga tegishli har qanday qonun,
            qoidalar va qoidalarga rioya qilish uchun siz javobgarsiz. <br> <br>

            Siz hech qanday qurtlarni yoki viruslarni yoki halokatli xarakterdagi kodlarni uzatmasligingiz kerak.
            <br><br>

            Shartlarimizning buzilishi yoki buzilishi sizning xizmatlaringizning darhol to'xtatilishiga olib kelishi
            mumkin. Biz istalgan vaqtda o'z ixtiyorimiz bilan hisobingizni o'chirish yoki cheklash hamda veb-saytlar va
            boshqa foydalanuvchilar tomonidan yaratilgan ma'lumotlar kabi tarkibni olib tashlash huquqini saqlab
            qolamiz. <br> <br>
        </p>
        <h2 class="tab_name">
            Umumiy shartlar
        </h2>
        <p class="text">
            Biz istalgan vaqtda istalgan sababga ko'ra har kimga xizmat ko'rsatishni rad etish huquqini saqlab qolamiz.
            <br><br>

            Sizning kontentingiz shifrlanmagan holda uzatilishi va (a) turli tarmoqlar orqali uzatishni va (b) ulanish
            tarmoqlari yoki qurilmalarining texnik talablariga moslashish va moslashish uchun o'zgarishlarni o'z ichiga
            olishi mumkinligini tushunasiz. <br><br>

            Kredit karta ma'lumotlari har doim tarmoqlar orqali o'tkazilayotganda shifrlanadi va tanlangan To'lov
            xizmati provayderlarimiz tomonidan qayta ishlanadi va qayta ishlanadi. Biz faqat kredit kartangizning oxirgi
            to'rtta raqamli va amal qilish muddatini saqlab qolamiz. Bu, boshqa narsalar qatori, kredit kartangizning
            amal qilish muddati yaqinda tugashi haqida sizga oldindan xabar berish uchun, biz bilan xizmatlaringizning
            uzluksiz ishlashini ta'minlashimiz uchun. <br><br>

            Siz bizning yozma ruxsatimizsiz Xizmatning biron bir qismini, Xizmatdan foydalanishni yoki Xizmatga kirishni
            yoki xizmat ko'rsatiladigan veb-saytdagi har qanday aloqani ko'paytirmaslik, takrorlash, nusxa ko'chirish,
            sotmaslik, qayta sotmaslik yoki foydalanmaslikka rozilik bildirasiz. <br><br>

            Ushbu shartnomada foydalanilgan sarlavhalar faqat qulaylik uchun kiritilgan va ushbu Shartlarni cheklamaydi
            yoki boshqa tarzda ta'sir qilmaydi. <br><br>


        </p>
        <h2 class="tab_name">
            Xizmat va narxlarga o'zgartirishlar
        </h2>
        <p class="text">
            Obuna narxiga rozilik bildirish orqali siz to'lov muddati davomida shu narxda qolasiz. Narxlar keyingi
            to'lov muddatingiz oxirida oʻzgarishi mumkin va biz keyingi hisob-kitob davri boshlanishidan oldin har
            qanday narx oʻzgarishi haqida sizni aniq xabardor qilish uchun qo'limizdan kelganini qilamiz. <br> <br>

            Xizmatni har qanday o'zgartirish, narxni o'zgartirish, to'xtatib turish yoki to'xtatish uchun biz sizga yoki
            uchinchi tomon oldida javobgar bo'lmaymiz. <br><br>

        </p>

        <h2 class="tab_name">
            Mahsulotlar yoki xizmatlar
        </h2>
        <p class="text">
            Ba'zi mahsulotlar yoki xizmatlar veb-sayt orqali faqat onlayn rejimda mavjud bo'lishi mumkin. <br><br>

            Biz mahsulot yoki Xizmatlarimizni har qanday shaxsga, geografik mintaqaga yoki yurisdiktsiyaga sotishni
            cheklash huquqini saqlab qolamiz, lekin majburiy emasmiz. Biz ushbu huquqdan har bir holatda foydalanishimiz
            mumkin. <br><br>

            Biz taklif qilayotgan har qanday mahsulot yoki xizmatlar miqdorini cheklash huquqini saqlab qolamiz.
            Mahsulotlarning barcha tavsiflari yoki mahsulot narxlari istalgan vaqtda bizning ixtiyorimiz bilan
            ogohlantirilmasdan o'zgartirilishi mumkin. <br><br>

            Biz istalgan vaqtda har qanday mahsulotni to'xtatish huquqini saqlab qolamiz. Ushbu saytda qilingan har
            qanday mahsulot yoki xizmat uchun har qanday taklif taqiqlangan hollarda bekor hisoblanadi. <br><br>

            Siz sotib olgan yoki olgan har qanday mahsulot, xizmatlar, maʼlumotlar yoki boshqa materiallarning sifati
            kutganingizga mos kelishiga yoki Xizmatdagi har qanday xatoliklar tuzatilishiga kafolat bermaymiz. <br><br>
        </p>
        <h2 class="tab_name">
            Hisob-kitob va hisob ma'lumotlarining aniqligi
        </h2>
        <p class="text">
            Bizga bergan har qanday buyurtmani rad etish huquqini saqlab qolamiz. Biz o'z ixtiyorimiz bilan har bir
            kishi, uy xo'jaligi yoki buyurtma bo'yicha sotib olingan miqdorlarni cheklashimiz yoki bekor qilishimiz
            mumkin. Ushbu cheklashlar bir xil mijoz hisobvarag'i, bir xil kredit karta va/yoki bir xil hisob-kitob
            va/yoki yetkazib berish manzilidan foydalanadigan buyurtmalar tomonidan yoki ostidagi buyurtmalarni o'z
            ichiga olishi mumkin. <br><br>

            Buyurtmani o'zgartirgan yoki bekor qilgan taqdirda, buyurtma qilingan vaqtda ko'rsatilgan elektron pochta
            va/yoki hisob-kitob manzili/telefon raqamiga murojaat qilish orqali sizni xabardor qilishga harakat
            qilishimiz mumkin. <br><br>


            Biz faqat bizning fikrimizcha, dilerlar, sotuvchilar yoki distribyutorlar tomonidan berilgan buyurtmalarni
            cheklash yoki taqiqlash huquqini saqlab qolamiz. <br><br>

        </p>
        Siz bizning saytimizda amalga oshirilgan barcha xaridlar uchun joriy, to'liq va aniq xarid va hisob
        ma'lumotlarini taqdim etishga rozilik bildirasiz. Hisob qaydnomangiz va boshqa ma’lumotlarni, jumladan, elektron
        pochta manzilingiz va kredit karta raqamlari va amal qilish muddatini zudlik bilan yangilashga rozilik
        bildirasiz, shunda biz tranzaktsiyalaringizni yakunlashimiz va kerak bo‘lganda siz bilan bog‘lanishimiz mumkin.
        <br><br>


        <h2 class="tab_name">
            Ixtiyoriy asboblar
        </h2>
        <p class="text">
            Biz sizga uchinchi tomon vositalariga kirishni ta'minlashimiz mumkin, ular ustidan biz nazorat qilmaydigan,
            nazorat qilmaydigan va kiritishimiz mumkin emas. Siz bunday vositalarga “mavjud bo‘lganidek” va “mavjud
            bo‘lganidek” hech qanday kafolatlar, taqdimotlar yoki shartlarsiz va hech qanday ma’qullamasdan
            foydalanishimizni ta’minlaganimizni tan olasiz va rozilik bildirasiz. Bizda ixtiyoriy uchinchi tomon
            vositalaridan foydalanishingizdan kelib chiqadigan yoki ular bilan bog‘liq hech qanday javobgarlik
            bo‘lmaydi. <br><br>


            Sayt orqali taqdim etilayotgan ixtiyoriy vositalardan har qanday foydalanish sizning xavf-xataringiz va
            ixtiyoringizdadir va siz tegishli uchinchi tomon provayder(lar)i tomonidan taqdim etilgan vositalar bilan
            tanishish va shartlarni tasdiqlashingizga ishonch hosil qilishingiz kerak. <br><br>

            Biz, shuningdek, kelajakda veb-sayt orqali yangi xizmatlar va/yoki xususiyatlarni taklif qilishimiz mumkin
            (jumladan, yangi vositalar va resurslarni chiqarish). Bunday yangi xususiyatlar va/yoki xizmatlar ham ushbu
            Xizmat shartlariga bo'ysunadi. <br><br>
        </p>
        <h2 class="tab_name">
            Uchinchi tomon havolalari
        </h2>
        <p class="text">
            Xizmatimiz orqali mavjud bo'lgan ba'zi kontent, mahsulotlar va xizmatlar uchinchi tomon materiallarini o'z
            ichiga olishi mumkin. <br><br>


            Ushbu saytdagi uchinchi tomon havolalari sizni biz bilan bog'liq bo'lmagan uchinchi tomon veb-saytlariga
            yo'naltirishi mumkin. Biz kontentni yoki to'g'riligini tekshirish yoki baholash uchun javobgar emasmiz va
            uchinchi tomon materiallari yoki veb-saytlari yoki uchinchi shaxslarning boshqa materiallari, mahsulotlari
            yoki xizmatlari uchun kafolat bermaymiz va hech qanday javobgarlik yoki javobgarlikka ega emasmiz. <br><br>


            Biz tovarlar, xizmatlar, resurslar, kontent yoki uchinchi tomon veb-saytlari bilan bog'liq boshqa
            operatsiyalarni sotib olish yoki ulardan foydalanish bilan bog'liq har qanday zarar yoki zarar uchun
            javobgar emasmiz. Har qanday tranzaksiyani amalga oshirishdan oldin uchinchi tomon siyosatlari va
            amaliyotlarini diqqat bilan ko‘rib chiqing va ularni tushunganingizga ishonch hosil qiling. Uchinchi tomon
            mahsulotlariga oid shikoyatlar, da'volar, xavotirlar yoki savollar uchinchi tomonga yo'naltirilishi kerak.
            <br><br>
        </p>
        <div class="Menu">
            <p>All Right Reserved . 2022 <a href="https://t.me/saidkamol_12/" target="_blank">Ravshanov Saidkamol</a>
            </p>
        </div>
    </div>
</body>

</html>